.btn-primary1 {
	width: 100% !important;
}
.react-grid-checkbox:checked+.react-grid-checkbox-label:before {
    background-image: url(/assets/images/icons/icon-tick.svg);
    box-shadow: inset 0 0 0 0px #fff;
}