// .ReactTable .rt-thead.-headerGroups {
//     background: none !important;
// }
.ReactTable .rt-thead.-header {
    background: #E6ECFC !important;
}
.ReactTable .rt-thead.-headerGroups, .ReactTable .rt-thead.-filters {
    background: #F2F5FE !important;
}
.ReactTable .rt-thead.-header .rt-th {
    color: #ad6809 !important;
}
.ReactTable .rt-th {
    padding: 0px !important;
    color: #8d1f1b;
    border-color:#a2bed8 !important;
    font-weight: 700 !important;
} 
h2.toggler-title{
    margin-bottom: 0px;
    // margin-top: 5px;
    font-size: 11px;
    // background: #DAE2F9;
    text-align: center;
    padding: 2px;
    // color: #FFF;
    // margin-bottom: 3px;
    // font-weight: normal;
}
.label-value{
    color: #7f7f7f
}
.ReactTable .rt-td {
    padding: 5px !important;
}
.ReactTable .rt-thead.-headerGroups .rt-th {
    font-weight: 700 !important;
    font-size: 16px !important;
}
.ReactTable {
    font-size: 10px !important;
}
// .ReactTable .rt-thead.-headerGroups .rt-th:first-child, .ReactTable .rt-thead.-headerGroups .rt-th:nth-child(2) { 
//     background: none !important;
//     background-color: transparent !important;
//     border: none !important;
// }
// .ReactTable .rt-tr.-odd {
//     background: #F5F7FA !important;
// }
// .ReactTable .rt-tr.-even {
//     background: #E6EEF6 !important;
// }
.ReactTable .rt-tr  {
    color: #7f7f7f;
}
.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-tfoot .rt-td
 {
    border-color: #a2bed8 !important;
}
.ReactTable .rt-expander:after {
    border-top: 7px solid #8d1f1b;
}
.salaryGrid {
    border-top:none !important;
    border-left: none !important;
    height:35vh;
}
.expandHeight .salaryGrid { 
    height: 70vh;
}
.ReactTable .rt-tbody .rt-expandable,
.ReactTable .rt-tfoot .rt-td:first-child {
    border-left: 1px solid #a2bed8;
}
.ReactTable .rt-tbody .rt-td svg {
    width:8px;
}
.stiGrid .rt-thead .rt-th {
  line-height: 20px;
}
.stiGrid .rt-thead {
  height: 20px;
}
.targetGrid .rt-thead .rt-th {
  line-height: 20px;
}
.targetGrid .rt-thead {
  height: 20px;
}
.compPlanButton {
    background: #175d9d;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.salaryGrid .rt-tbody {
    overflow-x: hidden;
}
.alert-red {
    color: red !important;
}
/**  custom scroll bar style */
// .rt-tbody::-webkit-scrollbar {
// 	width: 11px;
// 	background-color: #a1bdd7;
//   border-radius: 10px;
// }
// .rt-tbody::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #175d9d;
// }

// .rt-tbody::-webkit-scrollbar-track {
// 	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: #a1bdd7;
// }

.rt-tbody::-webkit-scrollbar, 
.rt-table::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.rt-tbody::-webkit-scrollbar-track, 
.rt-table::-webkit-scrollbar-track {
	background-color: #ccc;
	-webkit-border-radius: 5px;
}
.rt-tbody::-webkit-scrollbar-thumb:vertical,
.rt-table::-webkit-scrollbar-thumb:vertical {
	background-color: #8d1f1b;
    -webkit-border-radius: 6px;
}
// .rt-tbody::-webkit-scrollbar-thumb:vertical:hover,
// .rt-tbody::-webkit-scrollbar-thumb:horizontal:hover,
// .rt-table::-webkit-scrollbar-thumb:vertical:hover,
// .rt-table::-webkit-scrollbar-thumb:horizontal:hover
//  {
// 	background: #9BBFDD;
// }
.rt-tbody::-webkit-scrollbar-thumb:horizontal,
.rt-table::-webkit-scrollbar-thumb:horizontal
 {
	background-color: #8d1f1b;
    -webkit-border-radius: 6px;
}

// .header-bg {
//     position: relative;
//     text-align: left;
//     padding-left: 20px;
//     height: 35px;
//     vertical-align: middle;
// }
// .ts-main:before {
// 	content: "";
// 	display: block;
// 	width: 15px;
// 	height: 34px;
// 	position: absolute;
// 	left: 0;
// 	top: 0
// }
// .ts-main--salary:before {
// 	background-color: #68a0cb
// }
// .ts-main--merit:before {
// 	background-color: #00a99d
// }
// .ts-main--lump:before {
// 	background-color: #fbb03b
// }
// .ts-main--adjustment:before {
// 	background-color: #eaaea4
// }
// .ts-main--promotion:before {
// 	background-color: #fefe5e
// }
// .ts-main--final:before {
// 	background-color: #eec971
// }
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
input[type="text"] {
    width: 100%;
}
.compPlanButton {
    padding-top: 0px;
    padding-bottom: 0px;
}
.addButton {
    background: none;
    border: none;
    padding:0px;
    cursor: pointer;
    width: 3%;
    float: right;
}
.addButton i.fa {
    color:#175d9d;
    font-size: 20px;
}
.data_entry_div{
  padding: 2px 3% 2px 3%;
  border: 1px solid #a2bed8;
  border-top: none;
}
.ReactTable .rt-tbody .rt-td span.text-right, .ReactTable .rt-tfoot .rt-td span.text-right {
    display: inline-block;
    width:100%;
}
.ReactTable.salaryGrid .rt-tr-group {
    flex: 0 0 auto !important;
}
#borderCollapse .np-left{
  border: 1px solid #a2bed8 !important;
  height: 20px;
}
.ReactTable.salaryGrid .rt-tr.-odd {
    background: #EDEDED;
}
.ReactTable.salaryGrid .rt-tr.-even {
    background: #ffffff;
}
.salarySec {
    padding-right:2px !important;
}
.ReactTable.stiGrid .rt-thead.-header,
.ReactTable.targetGrid .rt-thead.-header {
    background: #fafbff !important;
}

.ReactTable.stiGrid .rt-tr.-odd,
.ReactTable.targetGrid .rt-tr.-odd {
    background: #f2f5fe !important;
}
.ReactTable.stiGrid .rt-tr.-even,
.ReactTable.targetGrid .rt-tr.-even {
    background: #f9fafe !important;
}
.bg-light-color {
    background: #fafbff;
    padding: 2px 0 !important;
}
.salarySec .toggler-title {
  background-color: #CCC;
  color: #ad6809;
  height: 23px;
  line-height: 20px;
}
.salarySec{
  border: 1px solid #ccc;
}
.targetSec .toggler-title {
  background-color: #CCC;
  color: #ad6809;
  height: 23px;
  line-height: 20px;
}
.targetSec{
  border: 1px solid #ccc;
}
.ReactTable .rt-noData{
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.8);
  transition: all .3s ease;
  z-index: 1;
  pointer-events: none;
  padding: 0px;
  color: black;
  width: 100%;
  padding-left: 43%;
}
.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  width: 40%;
  float: left;
  margin: 3%;
  cursor: pointer;
}
.btn-cancel {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 40%;
  float: left;
  margin: 3%;
  cursor: pointer;
}
.btn-cancel:hover {
  background-color: #ccc;
}
.modal-input {
  float: right;
  margin-right: 10%;
  width: 60%;
}