.show {
    display: block;
}
.hidden {
    display:none;
}
.box-nav-new {
    margin-top: -20px;
}
.personNew {
    margin-top: -23px;
    margin-bottom: -26px;
}
.person-photo-img {
    width: 92px !important;
}
.person-position-new {
    margin-bottom: -12px;
    font-size: 13px;
    font-weight: 300;
    color: #b3b3b3;
}
.toggler-title-new {
    font-size: 12px;
    font-weight: 600;
    color: #175d9d;
    margin-right: auto;
}
