.registerWrap .log-in-form-field {
    margin-bottom: 5px;
}
.register-title {
    font-size:15px;
    font-weight: bold;
    text-align: center;
    color:#175d9d;
    margin:5px 0;
}
.react-confirm-alert h1 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.react-confirm-alert h3 {
    font-size: 14px;
    text-align: center;
}
.react-confirm-alert .react-confirm-alert-button-group {
    display: block;
    text-align: center;
}
.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.8);
}
.registerWrap .intro-col--form {
    padding: 45px 50px 15px;
}
.registerWrap .log-in-submit {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
}
.captchaWrapper {
    margin-top:10px;
}
.registerWrap .log-in-input, .log-in-label {
    font-size: 11px;
}
.registerWrap .log-in-container {
    padding: 7px 39px 40px;
}