.image-upload
{
  visibility:hidden;
  width:0;
  height:0;
}
.submit-width {
  width: 9%;
}
.non-scrollable {
  position: fixed;
}
styles for excel component
#dvExcelId span button {
  background:none;
  color: transparent;
  border: none;
  width: 40px;
  height: 25px;
  cursor: pointer;
  outline: none;
}
#dvExcelId span button:after {
  content: '\f019';
  color: #014c8c;
  font-size: 16px;
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: top;
  margin-top: -16px;
}
.box-actions #dvExcelId span button:after {
  color: #014c8c;
  margin-top: -11px;
}
.submit-width {
  width: 12% !important;
}